<section class="webapp">
    {{portrait}}

    <app-header></app-header>
    <div ui-view="root" class="fade mainngview"></div>
    <app-footer></app-footer>
    <app-Carrinho></app-Carrinho>
   
</section>
