<div class="row passo5">
    <form novalidate name="cadastroform" ng-submit="submitEndereco(cadastroform.$valid)" class="" style="border: 1px solid white;float: left;margin: auto;width:100%;">
        <div class="form-group grupoEndereco">
            
           
            <div class="">
                <button style="margin-top: 20px;font-size: 16px;width: 205px;" type="submit" class="btn active BotaoVerItens " ng-disabled="cadastroform.$invalid">BUSCAR OU INSERIR</button>
            </div>
            @*<a style="margin-top: 20px;font-size: 16px;width: 205px;"  href="/#!/cadpesquisa/passoe-4" class="btn active BotaoVerItens ">VOLTAR</a>
            <br />
            <a style="margin-top: 20px;font-size: 16px;width: 205px;"  href="/#!/cadpesquisa/passoe-6" class="btn active BotaoVerItens ">ALTERAR ORIGEM</a>*@
        </div>
    </form>
</div>